<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOMEPAGE</title>
</head>
<body>
    <h1>Welcome To HomePAGE !</h1> 
    
    <form action="/submit" method="POST" enctype="multipart/form-data">
        <input type="text" name="KValue" placeholder="Enter value of K">
        <br>
        <br>
        <input type="file"  name="image" placeholder="Upload Image">
        <br>
        <br>
        <input type="submit">
    </form>
</body>
</html>